h2 {
    width: 94vw;
    text-align: center;
    border-bottom: 3px solid black;
    margin: auto;
    padding: 10px;

}

.Formulário > .campo{
    padding-left: 50px;
}

#Alterar {
    margin: 12px auto;
    width: 150px;
}